<h1><%= @book.title %></h1>

<h2>Author: <%= @book.author%></h2>
<p>Published: <%= @book.published_date%></p>
<br><p><%= @book.description%></p>

<br><p>Read this book? Please let us know what you think. Leave a <a href="/books/<%= @book.id %>/review">review</a>.</p>
